---
title: My Chess Ratings
twitter_card: true
description: "Historical Rating Data"
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
	
<h2>Current Ratings</h2>
<strong>ICU Rating:</strong> <a href=" http://ratings.icu.ie/live_ratings?utf8=%E2%9C%93&per_page=&last_name=Condon&first_name=Gerard&gender=&icu_id=&commit=Search&club=&fed=&type=">1519</a> <br>
<strong>FIDE Rating:</strong> <a href="https://ratings.fide.com/card.phtml?event=2510111">1734</a> <br>
<strong>Universal Rating System:</strong> <a href="http://universalrating.com/player.php?PlayerID=442657">1828</a> <br>

<h2>Rating History</h2>

<div>
	<canvas id="canvas"></canvas>
</div>

<script>
    function newDateString(days) {
	    return moment(days, "YYYY-MM-DD").format();
    }

		var config = {
			type: 'line',
			data: {
				datasets: [{
					label: "Historical ICU Rating",
					data: [
					    <%= data.ratings.icu.map { |rating| "{x:newDateString(\"" + rating.date + "\"), y:#{rating.rating}}" }.join(",") %>
					],
					fill: false,
					borderColor: '#000000'
				}]
			},
			options: {
				responsive: true,
				legend: {
    display: false,
},
                title:{
                    display:true,
                    text:"ICU Rating"
                },
				scales: {
					xAxes: [{
						type: "time",
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Rating'
						},
                ticks: {
                    max: 1600,
                    min: 1300
                }
					}]
				}
			}
		};
		
		window.onload = function() {
			var ctx = document.getElementById("canvas").getContext("2d");
			ctx.imageSmoothingEnabled = false;
			window.myLine = new Chart(ctx, config);

		};
</script>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
          <th>Tournament</th>
          <th>Date</th>
          <th>Rating</th>
          <th>Delta</th>
        </tr>
    </thead>

    <tbody>
    <% currentRating = 0 %>
    <% data.ratings.icu.each do |rating| %>
        <tr class='<%= row_colour_for_rating(currentRating, rating.rating) %>'>
            <td><%= rating.event %></td>
            <td><%= rating.date %></td>
            <td><%= rating.rating %></td>
            <td><%= rating.rating - currentRating %></td>
        </tr>
        <% currentRating = rating.rating %>
    <% end %>
    </tbody>
</table>
