---
title: My Chess Ratings
twitter_card: true
description: "My current ICU, FIDE and URS chess ratings - and snazzy trend graphs"
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
	
<h2>Current Ratings</h2>
<strong>ICU Rating:</strong> <a href=" http://ratings.icu.ie/live_ratings?utf8=%E2%9C%93&per_page=&last_name=Condon&first_name=Gerard&gender=&icu_id=&commit=Search&club=&fed=&type="><%= data.ratings.icu.last.rating %></a> <br>
<strong>FIDE Rating:</strong> <a href="https://ratings.fide.com/card.phtml?event=2510111"><%= data.ratings.fide.last.rating %></a> <br>
<strong>Universal Rating System:</strong> <a href="http://universalrating.com/player.php?PlayerID=442657"><%= data.ratings.ucr.last.rating %></a> <br>
<strong>Chessity Tactics Rating:</strong> <a href="tactics.html"><%= data.tactics.chessity.last.rating %></a> <br>

<h2>Lichess Stats</h2>
<table class="table table-hover table-striped table-bordered">

    <tbody>
        <tr>
            <td>Username</td>
            <td id='username'></td>
        </tr>
        <tr>
            <td>Time played</td>
            <td id='time-played'></td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Type</th>
            <th>Rating</th>
            <th>Number of Games Played</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Blitz</td>
            <td id='blitz-rating'></td>
            <td id='blitz-games-played'></td>
        </tr>
        <tr>
            <td>Rapid</td>
            <td id='rapid-rating'></td>
            <td id='rapid-games-played'></td>
        </tr>
        <tr>
            <td>Classical</td>
            <td id='classical-rating'></td>
            <td id='classical-games-played'></td>
        </tr>
    </tbody>
</table>

<h2>Rating History</h2>

<div>
	<canvas id="canvas"></canvas>
</div>

<script>
    function newDateString(days) {
	    return moment(days, "YYYY-MM-DD").format();
    }

		var config = {
			type: 'line',
			data: {
				datasets: [{
					label: "Historical ICU Rating",
					data: [
					    <%= data.ratings.icu.map { |rating| "{x:newDateString(\"" + rating.date + "\"), y:#{rating.rating}}" }.join(",") %>
					],
					fill: false,
					borderColor: '#000000'
				}]
			},
			options: {
				responsive: true,
				legend: {
    display: false,
},
                title:{
                    display:true,
                    text:"ICU Rating"
                },
				scales: {
					xAxes: [{
						type: "time",
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Rating'
						},
                ticks: {
                    max: 1600,
                    min: 1300
                }
					}]
				}
			}
		};
		
		window.onload = function() {
			var ctx = document.getElementById("canvas").getContext("2d");
			ctx.imageSmoothingEnabled = false;
			window.myLine = new Chart(ctx, config);

		};
</script>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
          <th>Tournament</th>
          <th>Date</th>
          <th>Rating</th>
          <th>Delta</th>
        </tr>
    </thead>

    <tbody>
    <% currentRating = 0 %>
    <% data.ratings.icu.each do |rating| %>
        <tr class='<%= row_colour_for_rating(currentRating, rating.rating) %>'>
            <td><%= rating.event %></td>
            <td><%= rating.date %></td>
            <td><%= rating.rating %></td>
            <td><%= rating.rating - currentRating %></td>
        </tr>
        <% currentRating = rating.rating %>
    <% end %>
    </tbody>
</table>

<script>
jQuery(document).ready(function($) {
    $.getJSON( "https://lichess.org/api/user/gercondon", function( data ) {
  	$('#username').text(data.username)
    $('#blitz-rating').text(data.perfs.blitz.rating)
    $('#blitz-games-played').text(data.perfs.blitz.games)
    $('#rapid-rating').text(data.perfs.rapid.rating)
    $('#rapid-games-played').text(data.perfs.rapid.games)
    $('#classical-rating').text(data.perfs.classical.rating)
    $('#classical-games-played').text(data.perfs.classical.games)

    var time = data.playTime.total
    var hours = Math.floor(time / 3600);
    time -= hours * 3600;
    var minutes = Math.floor(time / 60);
    time -= minutes * 60;
    var seconds = parseInt(time % 60, 10);
    $('#time-played').text(hours + " hours " + minutes + " minutes " + seconds + " seconds");
});

});


</script>