---
title: Chess
---

<h2>Tournaments</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
          <th>Tournament</th>
          <th>Number of rounds</th>
        </tr>
    </thead>

    <tbody>
    <% data.tournaments.each do |tournament| %>
        <tr class='clickable-row' data-href='<%= chess_collection_file_name("#{tournament.event}") + "/" + chess_collection_file_name("#{tournament.event}") + ".html" %>'>
            <td><%= tournament.event %></td>
            <td> <%= tournament.number_of_rounds %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<h2>All Games</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
          <th>Tournament</th>
          <th>Round Number</th>
          <th>White</th>
          <th>Black</th>
          <th>Result</th>
        </tr>
    </thead>

    <tbody>
    <% @all_games.each do |game| %>
        <tr class='<%= row_colour_for_my_game(game[:game]["white"], game[:game]["result"]) %> clickable-row' data-href='<%= game[:file_name] %>'>
            <td><%= game[:tournament] %></td>
            <td><%= game[:game]["round"] %></td>
            <td><%= game[:game]["white"] %></td>
            <td><%= game[:game]["black"] %></td>
            <td><%= game[:game]["result"] %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>